@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,400;1,500&display=swap');

html,
body {
	width: 100%;
	height: 100%;
}

.main {
	display: flex;
	min-height: 100%;
}

.left-main {
	flex: 40%;
	padding: 2rem;
	background-image: url('img/doodles.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.logo {
	display: flex;
	justify-content: left;
	align-items: center;
}

#logo-text {
	display: flex;
	font-size: 3.3rem;
	font-family: 'DM Sans';
	font-weight: 700;
}

#logo-img {
	padding-left: 1rem;
	padding-bottom: 1rem;
	width: 4rem;
	height: 4rem;
}

.right-main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
	flex: 60%;
	background-color: #dedfe1;
	justify-content: center;
}

#welcome {
	font-size: 3.1rem;
	font-family: 'DM Sans';
	font-weight: 700;
	text-align: center;
	margin-bottom: 8rem;
}

#user {
	font-size: 2rem;
	font-family: 'DM Sans';
	font-weight: 700;
}

#psw {
	font-size: 2rem;
	font-family: 'DM Sans';
	font-weight: 700;
	margin-bottom: 3rem;
}

#psw-1 {
	font-size: 2rem;
	font-family: 'DM Sans';
	font-weight: 700;
}

.input {
	outline: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-width: 0.25rem;
	background-color: #dedfe1;
	width: 24rem;
	color: #484c56;
	margin-bottom: 1rem;
}

#sign-in {
	display: inline-block;
	background-color: #1a1a22;
	border-radius: 2.9rem;
	width: 16rem;
	height: 3rem;
	font-size: 1.8rem;
	color: #dedfe1;
	font-family: 'DM Sans';
	font-weight: 700;
	box-shadow: none;
	border: none;
	margin-bottom: 4rem;
}

#no-account {
	font-size: 1.7rem;
	font-family: 'DM Sans';
	font-weight: 700;
	color: #2a2a34;
}

#register {
	color: #1a1a22;
	text-decoration: none;
}

#register:hover {
	text-decoration: underline;
}

#back-button {
	margin: 0;
	padding: 0;
	border: none;
}

.logo-right {
	display: none;
}

button {
	cursor: pointer;
}

@media (max-width: 800px) {
	.left-main {
		display: none;
		background-image: none;
	}

	.logo-right {
		display: flex;
	}
}
